.contentContainer {
  font-size: 16px;
  flex-grow: 2;
}

.contentContainer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 10px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
}

.textContainer {
  max-width: 560px;
  height: 264px;
  overflow-y: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 11;
  -webkit-box-orient: vertical;
  line-height: 24px;
}

.textContainer * {
  color: white !important;
}

.textContainer p b {
  font-weight: lighter;
}

.textContainer p:first-child {
  margin-bottom: 5px;
}

.textContainer li {
  list-style: circle;
  margin-left: 20px;
}

.images {
  width: 100%;
  height: 100%;
}

.imageContainer {
  width: 360px;
  height: 228px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
