.fixedContainer {
  --size: 70px;
  composes: container from global;
  position: fixed;
  bottom: calc(var(--size) * 1.3);
  right: 0;
  left: 0;
  pointer-events: none;
  display: flex;
  justify-content: end;
  padding-inline: calc(var(--size) * 0.7);
  z-index: 10;
}

.wrapper {
  position: relative;
  pointer-events: all;
  display: flex;
  align-items: end;
}

.whatsapp,
.telegram {
  transform: scale(0.95);

  & img {
    width: 100%;
    height: 100%;
  }
}

.chat,
.whatsapp,
.telegram {
  width: var(--size);
  height: var(--size);
  transition: transform 0.3s ease-in-out;
}

.chat {
  position: relative;
  z-index: 10;
}

.whatsapp {
  position: absolute;
  z-index: 9;
}

.telegram {
  position: absolute;
  z-index: 8;
}

.wrapper.open {
  height: calc(var(--size) * 3);

  & .whatsapp {
    transform: translateY(-120%);
  }

  & .telegram {
    transform: translateY(-240%);
  }
}

@media (max-width: 800px) {
  .fixedContainer {
    --size: 50px;
  }
}
