.dropdownList {
  --border-color: #ffffff;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid var(--border-color);
  transition: color 0.3s ease;
}

.lists {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 320px;
}

.listContainer {
  padding-right: 40px;
}

.selected {
  color: #fac11c !important;
}
