.backdrop {
  position: fixed;
  inset: 0;
  background-color: var(--modal-back-drop);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.modalContainer {
  flex: 0 1 1150px;
  position: relative;
  padding: 40px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px var(--modal-box-shadow);
  margin-inline: var(--container-inline-padding);
}

.closeButton {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.heading {
  font-size: var(--fontsize-h3);
}

.mobileHeading {
  font-size: var(--fontsize-h3);
  display: none;
  width: 93%;
}

.subheading {
  font-size: var(--fontsize-subheading);
  margin-bottom: 40px;
  margin-top: 8px;
}
.mobileSubheading {
  font-size: var(--fontsize-subheading);
  display: none;
  margin-bottom: 20px;
  margin-top: 8px;
}

@media screen and (max-width: 600px) {
  .modalContainer {
    flex: 1 0 90%;
    padding: 20px;
    margin-inline: 10px;
  }

  .heading,
  .subheading {
    display: none;
  }

  .mobileHeading,
  .mobileSubheading {
    display: block;
  }
}
