.headingBlock {
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-bottom: 40px;
}

.heading {
  font-size: var(--fontsize-h3);
  font-weight: 600;
}

.callUs {
  font-size: var(--fontsize-p);
  line-height: 1.5;
}

@media screen and (max-width: 900px) {
  .headingBlock {
    grid-template-columns: 1fr;
    padding: 16px;
  }
}
