.dropdownContainer {
  position: absolute;
  top: 100%;
  box-shadow: 0px 4px 8px 0px #00000040;
  background-color: var(--bwa);
  padding: 38px 40px 40px 40px;
  border-radius: 0 0 20px 20px;
  left: 0;
  right: 0;
  transition: transform 400ms ease-in-out;
  transform-origin: top;
  transform: translateY(-100%);
}

.isOpen {
  transform: translateY(0);
}

.wrapper {
  display: flex;
  gap: 40px;
  height: 284px;
}
