.footer {
  background-color: var(--color-main);
  color: var(--color-text-secondary);
  font-size: var(--fontsize-footer);
  padding-block: 60px;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 20px 80px;
  border-bottom: 1px solid var(--color-text-secondary);
  padding-bottom: 30px;
  position: relative;
}

.address {
  font-style: normal;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-columns: repeat(auto-fit 400px);
  gap: 40px 80px;
}

.footerContact {
  display: flex;
  align-items: center;
  gap: 20px;
}

.socialMedia {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 16px;
}

.geekspro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 28px;
  font-size: var(--fontsize-breadcrumbs);
  font-weight: 500;
}

@media (max-width: 800px) {
  .socialMedia {
    position: static;
  }

  .address {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}
